# B5W3: End-to-End Insurance Risk Analytics & Predictive Modeling

In [21]:
import os
import sys
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np # Used for checking for division by zero
sns.set_style('whitegrid')

In [16]:
sys.path.append(os.path.abspath(os.path.join('..')))

In [17]:
df  = pd.read_csv('../data/MachineLearningRating_v3.csv', low_memory=False )

In [4]:
df.head()

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,145255,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0
4,145255,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0

In [5]:
df.columns.tolist()

['UnderwrittenCoverID',
 'PolicyID',
 'TransactionMonth',
 'IsVATRegistered',
 'Citizenship',
 'LegalType',
 'Title',
 'Language',
 'Bank',
 'AccountType',
 'MaritalStatus',
 'Gender',
 'Country',
 'Province',
 'PostalCode',
 'MainCrestaZone',
 'SubCrestaZone',
 'ItemType',
 'mmcode',
 'VehicleType',
 'RegistrationYear',
 'make',
 'Model',
 'Cylinders',
 'cubiccapacity',
 'kilowatts',
 'bodytype',
 'NumberOfDoors',
 'VehicleIntroDate',
 'CustomValueEstimate',
 'AlarmImmobiliser',
 'TrackingDevice',
 'CapitalOutstanding',
 'NewVehicle',
 'WrittenOff',
 'Rebuilt',
 'Converted',
 'CrossBorder',
 'NumberOfVehiclesInFleet',
 'SumInsured',
 'TermFrequency',
 'CalculatedPremiumPerTerm',
 'ExcessSelected',
 'CoverCategory',
 'CoverType',
 'CoverGroup',
 'Section',
 'Product',
 'StatutoryClass',
 'StatutoryRiskType',
 'TotalPremium',
 'TotalClaims']

In [6]:
df.dtypes

UnderwrittenCoverID           int64
PolicyID                      int64
TransactionMonth             object
IsVATRegistered                bool
Citizenship                  object
LegalType                    object
Title                        object
Language                     object
Bank                         object
AccountType                  object
MaritalStatus                object
Gender                       object
Country                      object
Province                     object
PostalCode                    int64
MainCrestaZone               object
SubCrestaZone                object
ItemType                     object
mmcode                      float64
VehicleType                  object
RegistrationYear              int64
make                         object
Model                        object
Cylinders                   float64
cubiccapacity               float64
kilowatts                   float64
bodytype                     object
NumberOfDoors               float64
VehicleIntroDate             object
CustomValueEstimate         float64
AlarmImmobiliser             object
TrackingDevice               object
CapitalOutstanding           object
NewVehicle                   object
WrittenOff                   object
Rebuilt                      object
Converted                    object
CrossBorder                  object
NumberOfVehiclesInFleet     float64
SumInsured                  float64
TermFrequency                object
CalculatedPremiumPerTerm    float64
ExcessSelected               object
CoverCategory                object
CoverType                    object
CoverGroup                   object
Section                      object
Product                      object
StatutoryClass               object
StatutoryRiskType            object
TotalPremium                float64
TotalClaims                 float64
dtype: object

In [7]:
df.shape

(1000098, 52)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000098 entries, 0 to 1000097
Data columns (total 52 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   UnderwrittenCoverID       1000098 non-null  int64
 1   PolicyID                  1000098 non-null  int64
 2   TransactionMonth          1000098 non-null  object
 3   IsVATRegistered           1000098 non-null  bool
 4   Citizenship               1000098 non-null  object
 5   LegalType                 1000098 non-null  object
 6   Title                     1000098 non-null  object
 7   Language                  1000098 non-null  object
 8   Bank                      854137 non-null   object
 9   AccountType               959866 non-null   object
 10  MaritalStatus             991839 non-null   object
 11  Gender                    990562 non-null   object
 12  Country                   1000098 non-null  object
 13  Province                  1000098 non-null  object
 14  PostalCode                1000098 non-null  int64
 15  MainCrestaZone            1000098 non-null  object
 16  SubCrestaZone             1000098 non-null  object
 17  ItemType                  1000098 non-null  object
 18  mmcode                    999546 non-null   float64
 19  VehicleType               999546 non-null   object
 20  RegistrationYear          1000098 non-null  int64
 21  make                      999546 non-null   object
 22  Model                     999546 non-null   object
 23  Cylinders                 999546 non-null   float64
 24  cubiccapacity             999546 non-null   float64
 25  kilowatts                 999546 non-null   float64
 26  bodytype                  999546 non-null   object
 27  NumberOfDoors             999546 non-null   float64
 28  VehicleIntroDate          999546 non-null   object
 29  CustomValueEstimate       220456 non-null   float64
 30  AlarmImmobiliser          1000098 non-null  object
 31  TrackingDevice            1000098 non-null  object
 32  CapitalOutstanding        1000096 non-null  object
 33  NewVehicle                846803 non-null   object
 34  WrittenOff                358197 non-null   object
 35  Rebuilt                   358197 non-null   object
 36  Converted                 358197 non-null   object
 37  CrossBorder               698 non-null      object
 38  NumberOfVehiclesInFleet   0 non-null        float64
 39  SumInsured                1000098 non-null  float64
 40  TermFrequency             1000098 non-null  object
 41  CalculatedPremiumPerTerm  1000098 non-null  float64
 42  ExcessSelected            1000098 non-null  object
 43  CoverCategory             1000098 non-null  object
 44  CoverType                 1000098 non-null  object
 45  CoverGroup                1000098 non-null  object
 46  Section                   1000098 non-null  object
 47  Product                   1000098 non-null  object
 48  StatutoryClass            1000098 non-null  object
 49  StatutoryRiskType         1000098 non-null  object
 50  TotalPremium              1000098 non-null  float64
 51  TotalClaims               1000098 non-null  float64
dtypes: bool(1), float64(11), int64(4), object(36)
memory usage: 390.1+ MB

In [9]:
df.isnull().sum()

UnderwrittenCoverID               0
PolicyID                          0
TransactionMonth                  0
IsVATRegistered                   0
Citizenship                       0
LegalType                         0
Title                             0
Language                          0
Bank                         145961
AccountType                   40232
MaritalStatus                  8259
Gender                         9536
Country                           0
Province                          0
PostalCode                        0
MainCrestaZone                    0
SubCrestaZone                     0
ItemType                          0
mmcode                          552
VehicleType                     552
RegistrationYear                  0
make                            552
Model                           552
Cylinders                       552
cubiccapacity                   552
kilowatts                       552
bodytype                        552
NumberOfDoors                   552
VehicleIntroDate                552
CustomValueEstimate          779642
AlarmImmobiliser                  0
TrackingDevice                    0
CapitalOutstanding                2
NewVehicle                   153295
WrittenOff                   641901
Rebuilt                      641901
Converted                    641901
CrossBorder                  999400
NumberOfVehiclesInFleet     1000098
SumInsured                        0
TermFrequency                     0
CalculatedPremiumPerTerm          0
ExcessSelected                    0
CoverCategory                     0
CoverType                         0
CoverGroup                        0
Section                           0
Product                           0
StatutoryClass                    0
StatutoryRiskType                 0
TotalPremium                      0
TotalClaims                       0
dtype: int64

In [10]:
print(f"\nNumber of duplicate rows: {df.duplicated().sum()}")

Number of duplicate rows: 0

In [11]:
print(df.describe().T) # .T transposes the output for better readability

                              count          mean           std           min  \
UnderwrittenCoverID       1000098.0  1.048175e+05  6.329371e+04  1.000000e+00
PolicyID                  1000098.0  7.956682e+03  5.290039e+03  1.400000e+01
PostalCode                1000098.0  3.020601e+03  2.649854e+03  1.000000e+00
mmcode                     999546.0  5.487770e+07  1.360381e+07  4.041200e+06
RegistrationYear          1000098.0  2.010225e+03  3.261391e+00  1.987000e+03
Cylinders                  999546.0  4.046642e+00  2.940201e-01  0.000000e+00
cubiccapacity              999546.0  2.466743e+03  4.428006e+02  0.000000e+00
kilowatts                  999546.0  9.720792e+01  1.939326e+01  0.000000e+00
NumberOfDoors              999546.0  4.019250e+00  4.683144e-01  0.000000e+00
CustomValueEstimate        220456.0  2.255311e+05  5.645157e+05  2.000000e+04
NumberOfVehiclesInFleet         0.0           NaN           NaN           NaN
SumInsured                1000098.0  6.041727e+05  1.508332e+06  1.000000e-02
CalculatedPremiumPerTerm  1000098.0  1.178757e+02  3.997017e+02  0.000000e+00
TotalPremium              1000098.0  6.190550e+01  2.302845e+02 -7.825768e+02
TotalClaims               1000098.0  6.486119e+01  2.384075e+03 -1.200241e+04

                                   25%           50%           75%  \
UnderwrittenCoverID       5.514300e+04  9.408300e+04  1.391900e+05
PolicyID                  4.500000e+03  7.071000e+03  1.107700e+04
PostalCode                8.270000e+02  2.000000e+03  4.180000e+03
mmcode                    6.005692e+07  6.005842e+07  6.005842e+07
RegistrationYear          2.008000e+03  2.011000e+03  2.013000e+03
Cylinders                 4.000000e+00  4.000000e+00  4.000000e+00
cubiccapacity             2.237000e+03  2.694000e+03  2.694000e+03
kilowatts                 7.500000e+01  1.110000e+02  1.110000e+02
NumberOfDoors             4.000000e+00  4.000000e+00  4.000000e+00
CustomValueEstimate       1.350000e+05  2.200000e+05  2.800000e+05
NumberOfVehiclesInFleet            NaN           NaN           NaN
SumInsured                5.000000e+03  7.500000e+03  2.500000e+05
CalculatedPremiumPerTerm  3.224800e+00  8.436900e+00  9.000000e+01
TotalPremium              0.000000e+00  2.178333e+00  2.192982e+01
TotalClaims               0.000000e+00  0.000000e+00  0.000000e+00

                                   max
UnderwrittenCoverID       3.011750e+05
PolicyID                  2.324600e+04
PostalCode                9.870000e+03
mmcode                    6.506535e+07
RegistrationYear          2.015000e+03
Cylinders                 1.000000e+01
cubiccapacity             1.288000e+04
kilowatts                 3.090000e+02
NumberOfDoors             6.000000e+00
CustomValueEstimate       2.655000e+07
NumberOfVehiclesInFleet            NaN
SumInsured                1.263620e+07
CalculatedPremiumPerTerm  7.442217e+04
TotalPremium              6.528260e+04
TotalClaims               3.930921e+05

In [12]:
print(df[['SumInsured', 'CalculatedPremiumPerTerm', 'TotalPremium', 'TotalClaims']].describe().T)

                              count           mean           std  \
SumInsured                1000098.0  604172.732589  1.508332e+06
CalculatedPremiumPerTerm  1000098.0     117.875691  3.997017e+02
TotalPremium              1000098.0      61.905496  2.302845e+02
TotalClaims               1000098.0      64.861190  2.384075e+03

                                   min        25%          50%            75%  \
SumInsured                    0.010000  5000.0000  7500.000000  250000.000000
CalculatedPremiumPerTerm      0.000000     3.2248     8.436900      90.000000
TotalPremium               -782.576754     0.0000     2.178333      21.929825
TotalClaims              -12002.412281     0.0000     0.000000       0.000000

                                   max
SumInsured                1.263620e+07
CalculatedPremiumPerTerm  7.442217e+04
TotalPremium              6.528260e+04
TotalClaims               3.930921e+05

### Summarize Categorical Data

In [13]:
print("\nDescriptive Statistics for Categorical Columns:")
print(df.describe(include='object').T)

Descriptive Statistics for Categorical Columns:
                      count unique                                 top  \
TransactionMonth    1000098     23                 2015-08-01 00:00:00
Citizenship         1000098      4
LegalType           1000098      6                          Individual
Title               1000098      5                                  Mr
Language            1000098      1                             English
Bank                 854137     11                 First National Bank
AccountType          959866      3                     Current account
MaritalStatus        991839      3                       Not specified
Gender               990562      3                       Not specified
Country             1000098      1                        South Africa
Province            1000098      9                             Gauteng
MainCrestaZone      1000098     16     Transvaal (all except Pretoria)
SubCrestaZone       1000098     45                        Johannesburg
ItemType            1000098      1                    Mobility - Motor
VehicleType          999546      5                   Passenger Vehicle
make                 999546     46                              TOYOTA
Model                999546    411           QUANTUM 2.7 SESFIKILE 16s
bodytype             999546     13                                 B/S
VehicleIntroDate     999546    174                              4/2012
AlarmImmobiliser    1000098      2                                 Yes
TrackingDevice      1000098      2                                  No
CapitalOutstanding  1000096   1160                                   0
NewVehicle           846803      2                  More than 6 months
WrittenOff           358197      2                                  No
Rebuilt              358197      2                                  No
Converted            358197      2                                  No
CrossBorder             698      1                                  No
TermFrequency       1000098      2                             Monthly
ExcessSelected      1000098     13                           No excess
CoverCategory       1000098     28                 Passenger Liability
CoverType           1000098     22                          Own Damage
CoverGroup          1000098     14                Comprehensive - Taxi
Section             1000098      5                 Motor Comprehensive
Product             1000098      4  Mobility Commercial Cover: Monthly
StatutoryClass      1000098      1                          Commercial
StatutoryRiskType   1000098      1                       IFRS Constant

                       freq
TransactionMonth     106747
Citizenship          895210
LegalType            911929
Title                933555
Language            1000098
Bank                 260811
AccountType          597938
MaritalStatus        986208
Gender               940990
Country             1000098
Province             393865
MainCrestaZone       296187
SubCrestaZone        176020
ItemType            1000098
VehicleType          933598
make                 813280
Model                186087
bodytype             844400
VehicleIntroDate     287638
AlarmImmobiliser     999861
TrackingDevice       656617
CapitalOutstanding   441735
NewVehicle           845223
WrittenOff           358165
Rebuilt              358165
Converted            358110
CrossBorder             698
TermFrequency        999554
ExcessSelected       791235
CoverCategory        104158
CoverType            104183
CoverGroup           824124
Section              828125
Product              915028
StatutoryClass      1000098
StatutoryRiskType   1000098

In [14]:
# Check the unique values and their frequencies for key categorical columns
print("\nValue counts for 'make':")
print(df['make'].value_counts().head(10)) # Top 10 most frequent makes

print("\nValue counts for 'Country':")
print(df['Country'].value_counts())

print("\nUnique values in 'VehicleType':")
print(df['VehicleType'].unique())

Value counts for 'make':
make
TOYOTA                                 813280
MERCEDES-BENZ                           41940
CMC                                     21624
VOLKSWAGEN                              20929
C.A.M                                   16171
GOLDEN JOURNEY                          14462
NISSAN/DATSUN                           10997
JINBEI                                  10374
IVECO                                    8430
AUDI                                     7407
Name: count, dtype: int64

Value counts for 'Country':
Country
South Africa    1000098
Name: count, dtype: int64

Unique values in 'VehicleType':
['Passenger Vehicle' 'Medium Commercial' 'Heavy Commercial'
 'Light Commercial' 'Bus' nan]

#### Calculate the Overall Loss Ratio for the Portfolio

In [18]:
# Calculate the sum of all claims and all premiums
total_claims = df['TotalClaims'].sum()
total_premium = df['TotalPremium'].sum()

# Calculate the overall Loss Ratio
# Add a check to avoid division by zero if total premium is 0
if total_premium > 0:
    overall_loss_ratio = total_claims / total_premium
    print(f"Overall Loss Ratio for the portfolio: {overall_loss_ratio:.2%}")
else:
    print("Cannot calculate overall Loss Ratio: Total Premium is zero.")

Overall Loss Ratio for the portfolio: 104.77%

- A loss ratio less than 100% (1.00) means the company is making a profit from underwriting.
- A loss ratio greater than 100% (1.00) means the company is paying out more in claims than it is collecting in premiums.
- So, 104.77% mean company is paying out more in claims than it is collecting in premiums.

#### Loss Ratio by Province

In [ ]:
# Group by Province and sum the TotalClaims and TotalPremium
loss_ratio_by_province = df.groupby('Province')[['TotalClaims', 'TotalPremium']].sum()

# Calculate the Loss Ratio for each Province
loss_ratio_by_province['LossRatio'] = np.where(
    loss_ratio_by_province['TotalPremium'] > 0, 
    loss_ratio_by_province['TotalClaims'] / loss_ratio_by_province['TotalPremium'], 
)

# Sort the results to see the highest loss ratios first
loss_ratio_by_province = loss_ratio_by_province.sort_values('LossRatio', ascending=False)

print("\nLoss Ratio by Province (sorted by highest Loss Ratio):")
print(loss_ratio_by_province[['TotalPremium', 'TotalClaims', 'LossRatio']])

Loss Ratio by Province (sorted by highest Loss Ratio):
               TotalPremium   TotalClaims  LossRatio
Province
Gauteng        2.405377e+07  2.939415e+07   1.222018
KwaZulu-Natal  1.320908e+07  1.430138e+07   1.082693
Western Cape   9.806559e+06  1.038977e+07   1.059472
North West     7.490508e+06  5.920250e+06   0.790367
Mpumalanga     2.836292e+06  2.044675e+06   0.720897
Free State     5.213632e+05  3.549223e+05   0.680758
Limpopo        1.537324e+06  1.016477e+06   0.661199
Eastern Cape   2.140104e+06  1.356427e+06   0.633813
Northern Cape  3.165581e+05  8.949051e+04   0.282699

- Gauteng, KwaZulu-Natal, and Western Cape are Unprofitable
- Northern Cape is the Most Profitable

####  Loss Ratio by VehicleType

In [23]:
# Group by VehicleType and sum the claims and premiums
loss_ratio_by_vehicle_type = df.groupby('VehicleType')[['TotalClaims', 'TotalPremium']].sum()

# Calculate the Loss Ratio for each VehicleType
loss_ratio_by_vehicle_type['LossRatio'] = np.where(
    loss_ratio_by_vehicle_type['TotalPremium'] > 0,
    loss_ratio_by_vehicle_type['TotalClaims'] / loss_ratio_by_vehicle_type['TotalPremium'],
    0
)

# Sort the results and filter out types with very low premium volumes if needed
loss_ratio_by_vehicle_type = loss_ratio_by_vehicle_type.sort_values('TotalPremium', ascending=False)

print("\nLoss Ratio by VehicleType (sorted by highest Premium Volume):")
print(loss_ratio_by_vehicle_type[['TotalPremium', 'TotalClaims', 'LossRatio']])

Loss Ratio by VehicleType (sorted by highest Premium Volume):
                   TotalPremium   TotalClaims  LossRatio
VehicleType
Passenger Vehicle  5.664202e+07  5.937207e+07   1.048198
Medium Commercial  3.922746e+06  4.119867e+06   1.050251
Heavy Commercial   4.609479e+05  7.504746e+05   1.628112
Light Commercial   2.604975e+05  6.045250e+04   0.232066
Bus                5.824474e+04  7.996535e+03   0.137292

- Heavy Commercial highly unprofitable
- Medium Commercial slightly unprofitable
- Light Commercial and Bus  are highly profitable

#### Loss Ratio by Gender

In [24]:
# Group by Gender and sum the claims and premiums
loss_ratio_by_gender = df.groupby('Gender')[['TotalClaims', 'TotalPremium']].sum()

# Calculate the Loss Ratio for each Gender
loss_ratio_by_gender['LossRatio'] = np.where(
    loss_ratio_by_gender['TotalPremium'] > 0,
    loss_ratio_by_gender['TotalClaims'] / loss_ratio_by_gender['TotalPremium'],
    0
)

print("\nLoss Ratio by Gender:")
print(loss_ratio_by_gender[['TotalPremium', 'TotalClaims', 'LossRatio']])

Loss Ratio by Gender:
               TotalPremium   TotalClaims  LossRatio
Gender
Female         3.044806e+05  2.502461e+05   0.821879
Male           1.580143e+06  1.396704e+06   0.883910
Not specified  5.920275e+07  6.271410e+07   1.059311

- Female and Male : Both of these categories are profitable, with premiums collected comfortably exceeding claims paid out. The Female segment appears slightly more profitable than the Male segment.
- Not specified (1.05): This category is unprofitable, operating at a loss. For every R1 of premium collected from this segment, R1.05 is paid out in claims.